services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    environment:
      NODE_ENV: production
      REDIS_URL: redis://redis:6379
    volumes:
      - ./api/.env:/app/.env
    depends_on:
      - redis
    ports:
      - "3000:3000"

  redis:
    image: redis:8.4-alpine
    command: redis-server --appendonly yes
    volumes:
      - ./api/redis-data:/data

  ui:
    build:
      context: ./ui
      dockerfile: Dockerfile
    depends_on:
      - api
    ports:
      - "8080:8080"
