services:
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      NODE_ENV: production
      REDIS_URL: redis://redis:6379
    volumes:
      - ./backend/.env:/app/.env
    depends_on:
      - redis
    ports:
      - "3000:3000"

  redis:
    image: redis:8.4-alpine
    command: redis-server --appendonly yes
    volumes:
      - ./backend/redis-data:/data

  ui:
    build:
      context: ./client
      dockerfile: Dockerfile
    depends_on:
      - backend
    ports:
      - "8080:8080"
