services:
  api:
    build: .
    environment:
      NODE_ENV: production
      REDIS_URL: redis://redis:6379
    volumes:
      - ./.env:/app/.env
      - ./db:/app/db
    depends_on:
      - redis
    ports:
      - "127.0.0.1:3000:3000"

  redis:
    image: redis:8.4-alpine
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data

volumes:
  redis_data:
