services:
  api:
    build: .
    environment:
      NODE_ENV: production
      REDIS_URL: redis://redis:6379
    volumes:
      - ./.env:/app/.env
    depends_on:
      - redis
    ports:
      - "3000:3000"

  redis:
    image: redis:8.4-alpine
    command: redis-server --appendonly yes
    volumes:
      - ./redis-data:/data
